*~
.DS_Store
.Trash
.cocoapods
.vim/bundle
.android
.bash_sessions
.config
.expo
.gradle
.local
.mono
.node-gyp
.npm
.oracle_jre_usage
.react-native-cli
.rncache
.ssh
Downloads
Library
Documents
Desktop
Music
.IdentityService
android-ndk
android-sdk-macosx
node_modules
objects
projects
Applications
Movies
Pictures
Public
hooks
info
logs
refs
.CFUserTextEncoding
.NERDTreeBookmarks
.bash_history
.bash_profile
.bashrc
.emulator_console_auth_token
.fzf.bash
.fzf.zsh
.gitconfig
.gitflow_export
.hgignore_global
.knownPackages
.lesshst
.ms_openjdk_config
.node_repl_history
.npmrc
.rndebuggerrc
.stCommitMsg
.tig_history
.viminfo
.yarnrc
.zshrc
HEAD
config
description
index
package-lock.json
packed-refs
ripgrep_11.0.1_amd64.deb
.rndebugger_port
